<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<nav th:fragment="navbar"
	class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 shadow">
	<div class="container">
		<a class="navbar-brand fw-bold" th:href="@{/home}">EduManager</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/home}">Inicio</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/cursos}">Mis
						Cursos</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/notas}">Mis notas</a>
                    </li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/cursos/disponibles}">Inscribirme</a></li>
			</ul>
			<ul class="navbar-nav">

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" role="button"
					data-bs-toggle="dropdown"> <span sec:authentication="name">Usuario</span>

				</a>

					<ul class="dropdown-menu">

						<li><a class="dropdown-item" th:href="@{/usuario/editar}">
								Editar perfil </a></li>

						<li>
							<form th:action="@{/logout}" method="post">
								<button class="dropdown-item" type="submit">Cerrar
									sesión</button>
							</form>
						</li>

					</ul></li>

			</ul>

		</div>
	</div>
</nav>

<footer th:fragment="footer"
	class="py-3 my-4 border-top text-center text-muted">
	<p>&copy; 2026 EduManager - Sistema de Gestión Académica</p>
</footer>

</html>